@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  background: #e9e5c9;
  display: flex;
  justify-content: center;
  align-items: center;

}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

p {
  color: #fff;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

.TodoWrapper {
  background: #7d494e;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

select {
  outline: none;
  background: none;
  border: 1px solid #d89691;
  padding: 0.25rem 1rem;
  margin: 0.4rem 0;
  width: 110px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  border-radius: 1px;
  cursor: pointer;
}

select option {
  background: #1A1A40;
  color: #fff;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #d89691;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #decb99;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  align-items: center;
  background: #d89691;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.complete-icon {
  cursor: pointer;
  margin-right: 1rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
  margin-right: auto;
}

.completed {
  color: #7d494e;
  text-decoration: line-through;
  cursor: pointer;
  margin-right: auto;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}
